body {
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

main {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Image aspect ratios */
.entry-content img {
  height: auto;
}

/* Alerts top margin */
.alert {
  margin-top: 20px;
}

.confirm {
  color: var(--red);
}

.confirm > button {
  color: var(--red);
  margin-left: 5px;
}

.confirm > a {
  color: var(--red);
}

/* Focus styles */
a:focus,
button:focus,
input:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
select:focus,

.header nav {
  align-items: start;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  .header nav {
    flex-direction: row;
    align-items: center;
  }
}
.header nav ul {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 0.5rem;
  row-gap: 0.75rem;
  margin-top: 0.5rem;
  list-style-type: none;
}
.header nav ul[style*="display: block;"] {
  display: flex !important;
}
@media (min-width: 600px) {
  .header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}
.header nav ul li {
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
  line-height: 1.2rem;
  padding: 0;
}
@media (min-width: 600px) {
  .header nav ul li {
    padding: 0.15rem;
  }
}
.header nav .search {
  flex-basis: 100%;
  margin: 0;
}

article > blockquote {
    font-size: 95%;
    font-style: italic
}

section.page-header,
section.page-footer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

section.page-header > ul,
section.page-footer > ul {
  /* display: flex; */
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  section.page-header > ul,
  section.page-footer > ul {
    flex-direction:   row;
    align-items: center;
    flex-wrap: wrap;
  }
}
section.page-header > ul > li,
section.page-footer > ul > li {
  padding-right: 0;
}
section.page-header > ul > li > a,
section.page-footer > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
}
section.page-header > ul > li > a > .icon,
section.page-footer > ul > li > a > .icon {
  padding-bottom: 0;
}

.entry-header {
  margin-top: 1.5rem;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--alert-background-color);
}

confirm a:first-of-type {
  margin-left: 0.25rem;
}

a {
  text-underline-offset: 2px;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
a:has(svg) {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.pagination {
  justify-content: space-between;
}

.pagination-top {
  margin-bottom: 2rem;
}

.panel {
  padding: 1rem;
  line-height: 1.35rem;
}

.item {
  padding: 1rem;
  border-radius: 0.15rem;
  border-width: 1px;
  border-style: solid;
  transition-property: border-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: var(--surface0);
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.item-meta > ul > li {
  color: var(--item-meta-li-color);
}

.item-meta > ul > li > a {
  color: var(--item-meta-li-color);
}

.item-meta > ul > li > a:hover {
  color: var(--item-meta-focus-color);
}

.entry-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--entry-meta-color)
}
.entry-meta > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem;
}

.entry-meta > span > a {
  color: var(--entry-meta-color);
}

.entry-date {
  color: var(--entry-meta-color);
}

.entry-content {
 font-size:1em;
 line-height:1.5em;
}

.entry-content img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.entry-tags {
    font-size: 0.7em;
}
.entry header h1 a:hover,
.entry header h1 a:focus {
  color: --var(link-hover-color);
}

input[type=search],
input[type=url],
input[type=password],
input[type=text],
input[type=number],
select,
textarea {
  color:var(--input-color);
  background:var(--input-background);
  border:var(--input-border);
  line-height:20px;
  width:250px;
  font-size:99%;
  margin-bottom:10px;
  margin-top:5px;
  appearance:none;
  padding: 0.35rem 0.5rem;
  border-radius: 0.35rem;
}

input[type=number] {
  appearance: textfield;
}

label {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
label:has(input) {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.35rem;
  margin-bottom: 1rem;
}
label input[type=checkbox] {
  margin-bottom: 0;
  accent-color: var(--button-primary)
}

fieldset {
  padding: 1.5rem;
}


.button {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.35rem;
}
.button.button-primary:hover, .button.button-primary:focus {
  border: none;
  background-color: var(--button-primary-background);
}
.button.button-primary:disabled {
  color: var(--button-primary-color);
  border-color: var(--button-primary-focus-border-color);
  background-color: var(--button-primary-focus-background);
  opacity: 0.75;
}

th,
td {
  padding: 1rem;
}



:root {
    --base: #1e1e2e; 
    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;
    --overlay0: #6c7086;
    --overlay1: #7f849c;
    --overlay2: #9399b2;
    --subtext0: #a6adc8; 
    --text: #cdd6f4; 	
    --yellow: #f9e2af;
    --peach: #fab387;
    --red: #f38ba8;
    --magenta: #f5c2e7;
    --violet: #cba6f7;
    --blue: #89b4fa;
    --cyan: #89dceb;
    --green: #a6e3a1;
    --rosewater: #f5e0dc 	;
  }

:root {
    --item-status-read-title-link-color: var(--link-color);
    --body-color: var(--text);
    --body-background: var(--base);
    --hr-border-color: var(--overlay1);
    --title-color: var(--violet);
    --link-color: var(--green);
    --link-focus-color: var(--surface1);
    --link-hover-color: var(--surface2);
    --link-visited-color: var(--peach);
    --header-list-border-color: var(--overlay1);
    --header-link-color: var(--pink);
    --header-link-focus-color: var(--surface1);
    --header-link-hover-color: var(--surface2);
    --header-active-link-color: var(--overlay1);
    --table-border-color: var(--overlay1);
    --table-th-background: var(--surface0);
    --table-th-color: var(--overlay0);
    --table-tr-hover-background-color: var(--base);
    --table-tr-hover-color: var(--overlay0);
    --button-primary-border-color: var(--overlay0);
    --button-primary-background: var(--overlay0);
    --button-primary-color: var(--base);
    --button-primary-focus-border-color: var(--overlay1);
    --button-primary-focus-background: var(--overlay1);
    --input-background: var(--surface0);
    --input-color: var(--overlay0);
    --input-placeholder-color: var(--surface2);
    --input-focus-color: var(--overlay0);
    --input-focus-border-color: var(--surface1);
    --input-border: var(--surface1);
    --input-focus-box-shadow: 0 0 0 2px var(--overlay1);
    --alert-color: var(--overlay0);
    --alert-background-color: var(--base);
    --alert-border-color: var(--overlay1);
    --alert-success-color: var(--green);
    --alert-success-background-color: var(--surface0);
    --alert-success-border-color: var(--overlay1);
    --alert-error-color: var(--overlay0);
    --alert-error-background-color: var(--violet);
    --alert-error-border-color: var(--overlay1);
    --alert-info-color: var(--overlay0);
    --alert-info-background-color: var(--surface0);
    --alert-info-border-color: var(--surface0);
    --page-header-title-border-color: var(--overlay1);
    --logo-color: var(--text);
    --logo-hover-color-span: var(--blue);
    --panel-background: var(--base);
    --panel-border-color: var(--overlay1);
    --panel-color: var(--overlay0);
    --modal-background: var(--base);
    --modal-color: var(--overlay0);
    --modal-box-shadow: 2px 0 5px 0 var(--overlay1);
    --pagination-link-color: var(--overlay0);
    --pagination-border-color: var(--overlay1);
    --category-color: var(--text);
    --category-background-color: var(--surface0);
    --category-border-color: var(--overlay1);
    --category-link-color: var(--link-color);
    --category-link-hover-color: var(--surface1);
    --item-header-color: var(--pink);
    --item-border-color: var(--overlay1);
    --item-status-unread-title-link-color: var(--pink);
    --item-status-read-title-link-color: var(--blue);
    --item-status-read-title-focus-color: var(--overlay1);
    --item-meta-focus-color: var(--text);
    --item-meta-icons-external-url: var(--yellow);
    --item-meta-li-color: var(--yellow);
    --current-item-border-color: var(--surface0);
    --entry-header-border-color: var(--overlay1);
    --entry-header-title-link-color: var(--pink);
    --entry-meta-color: var(--yellow);
    --entry-content-color: var(--text);
    --entry-content-code-color: var(--blue);
    --entry-content-code-background: var(--base);
    --entry-content-code-border-color: var(--overlay1);
    --entry-content-quote-color: var(--violet);
    --entry-content-abbr-border-color: var(--overlay1);
    --entry-enclosure-border-color: var(--overlay1);
    --parsing-error-color: var(--overlay1);
    --feed-parsing-error-background-color: var(--surface0);
    --feed-parsing-error-border-color: var(--red);
    --feed-has-unread-background-color: var(--surface0);
    --feed-has-unread-border-color: var(--cyan);
    --category-has-unread-background-color: var(--surface0);
    --category-has-unread-border-color: var(--cyan);
    --keyboard-shortcuts-li-color: var(--overlay0);
    --counter-color: var(--overlay0);
  }



  