:root {
    --base: #24273a;
    --surface0: #363a4f;
    --surface1: #494d64;
    --surface2: #5b6078;
    --overlay0: #6e738d;
    --overlay1: #8087a2;
    --overlay2: #939ab7;
    --subtext0: #a5adcb;
    --text: #cad3f5;
    --yellow: #eed49f;
    --peach: #f5a97f;
    --red: #ed8796;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --blue: #8aadf4;
    --sky: #91d7e3;
    --green: #a6da95;
    --rosewater: #f4dbd6;
  }

.confirm {
  color: var(--alert-confirm-color);
}

.confirm > button {
  color: var(--alert-confirm-color);
}

.confirm > a {
  color: var(--alert-confirm-color);
}

.confirm {
  background-color: var(--alert-background-color);
}

.entry-meta > span > a {
  color: var(--entry-meta-color);
}

.entry-date {
  color: var(--entry-meta-color);
}

.entry header h1 a:hover,
.entry header h1 a:focus {
  color: --var(link-hover-color);
}

input[type=search],
input[type=url],
input[type=password],
input[type=text],
input[type=number],
select,
textarea {
  color:var(--input-color);
  background:var(--input-background);
  border:var(--input-border);
}

label input[type=checkbox] {
  accent-color: var(--button-primary)
}

.button.button-primary:hover, .button.button-primary:focus {
  background-color: var(--button-primary-background);
}
.button.button-primary:disabled {
  color: var(--button-primary-color);
  border-color: var(--button-primary-focus-border-color);
  background-color: var(--button-primary-focus-background);
  opacity: 0.75;
}

.entry-content figcaption {
  color: var(--entry-content-fig-caption);
}

.entry-author {
  color: var(--entry-author-color);
}

.item-meta > ul > li {
  color: var(--item-meta-li-color);
}

.item-meta > ul > li > a {
  color: var(--item-meta-li-color);
}

.item-meta > ul > li > a:hover {
  color: var(--item-meta-focus-color);
}

.item-meta-icons li > :is(a, button) {
    color: var(--item-meta-li-color);
}

.item-meta-icons li > :is(a, button):hover {
    color: var(--item-meta-focus-color);
}

:root {
    --item-status-read-title-link-color: var(--link-color);
    --body-color: var(--text);
    --body-background: var(--base);
    --hr-border-color: var(--overlay1);
    --title-color: var(--text);
    --link-color: var(--blue);
    --link-focus-color: var(--surface1);
    --link-hover-color: var(--lavender);
    --link-visited-color: var(--mauve);
    --header-list-border-color: var(--overlay1);
    --header-link-color: var(--blue);
    --header-link-focus-color: var(--key);
    --header-link-hover-color: var(--lavender);
    --header-active-link-color: var(--overlay1);
    --table-border-color: var(--overlay1);
    --table-th-background: var(--surface0);
    --table-th-color: var(--overlay0);
    --table-tr-hover-background-color: var(--base);
    --table-tr-hover-color: var(--overlay0);
    --button-primary-border-color: var(--overlay0);
    --button-primary-background: var(--overlay0);
    --button-primary-color: var(--base);
    --button-primary-focus-border-color: var(--overlay1);
    --button-primary-focus-background: var(--overlay1);
    --input-background: var(--surface0);
    --input-color: var(--overlay0);
    --input-placeholder-color: var(--surface2);
    --input-focus-color: var(--overlay0);
    --input-focus-border-color: var(--surface1);
    --input-border: var(--surface1);
    --input-focus-box-shadow: 0 0 0 2px var(--overlay1);
    --alert-color: var(--yellow);
    --alert-confirm-color: var(--red);
    --alert-background-color: var(--base);
    --alert-border-color: var(--overlay1);
    --alert-success-color: var(--green);
    --alert-success-background-color: var(--surface0);
    --alert-success-border-color: var(--overlay1);
    --alert-error-color: var(--red);
    --alert-error-background-color: var(--mauve);
    --alert-error-border-color: var(--red);
    --alert-info-color: var(--overlay0);
    --alert-info-background-color: var(--surface0);
    --alert-info-border-color: var(--surface0);
    --page-header-title-border-color: var(--overlay1);
    --logo-color: var(--text);
    --logo-hover-color-span: var(--blue);
    --panel-background: var(--base);
    --panel-border-color: var(--overlay1);
    --panel-color: var(--text);
    --modal-background: var(--base);
    --modal-color: var(--overlay0);
    --modal-box-shadow: 2px 0 5px 0 var(--overlay1);
    --pagination-link-color: var(--blue);
    --pagination-border-color: var(--overlay1);
    --category-color: var(--text);
    --category-background-color: var(--surface0);
    --category-border-color: var(--overlay1);
    --category-link-color: var(--blue);
    --category-link-hover-color: var(--lavender);
    --item-header-color: var(--text);
    --item-border-color: var(--overlay1);
    --item-status-unread-title-link-color: var(--blue);
    --item-status-read-title-link-color: var(--mauve);
    --item-status-read-title-focus-color: var(--overlay1);
    --item-meta-focus-color: var(--text);
    --item-meta-icons-external-url: var(--subtext0);
    --item-meta-li-color: var(--subtext0);
    --item-meta-icons-star: var(--subtext0);
    --current-item-border-color: var(--surface0);
    --entry-header-border-color: var(--overlay1);
    --entry-header-title-link-color: var(--text);
    --entry-meta-color: var(--mauve);
    --entry-author-color: var(--green);
    --entry-content-color: var(--text);
    --entry-content-code-color: var(--blue);
    --entry-content-code-background: var(--base);
    --entry-content-code-border-color: var(--overlay1);
    --entry-content-fig-caption: var(--subtext0);
    --entry-content-quote-color: var(--mauve);
    --entry-content-abbr-border-color: var(--overlay1);
    --entry-enclosure-border-color: var(--overlay1);
    --parsing-error-color: var(--overlay1);
    --feed-parsing-error-background-color: var(--surface0);
    --feed-parsing-error-border-color: var(--red);
    --feed-has-unread-background-color: var(--surface0);
    --feed-has-unread-border-color: var(--text);
    --category-has-unread-background-color: var(--surface0);
    --category-has-unread-border-color: var(--sky);
    --keyboard-shortcuts-li-color: var(--overlay0);
    --counter-color: var(--overlay0);
  }
